<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="40">
        <a mat-raised-button routerLink="/" i18n="@@home">
          Home
        </a>
        <a mat-raised-button routerLink="products" i18n="@@heroesList">
          Heroes list
        </a>
        <a href="" routerLink="products">products</a>
        <a href="" routerLink="places">places</a>
      </div>
      <div fxFlex class="text--right">
          <div *ngFor="let lang of languages">
            <a class="language-link"
               href="{{'/' + lang.name + currentUrl}}"
               (click)="changeLanguage(lang.name)">
              <span>{{lang.label}}</span>
            </a>
          </div>
      </div>
    </div>
  </nav>
  <section class="progress-bar">
  </section>
</header>
